<div class="wrapper">
    <img src="assets/img/portada.jpeg" />
    <mat-card *ngIf="!registroCompletado" class="mat-elevation-z4">
        <mat-card-content>
            <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
                <h2>Formulario de registro</h2>
                <mat-error>{{errores.alias}}</mat-error>
                <mat-form-field>
                    <input matInput placeholder="Nombre de usuario" [(ngModel)]="jugador.alias" name="alias" required>
                </mat-form-field>
                <mat-error>{{errores.email}}</mat-error>
                <mat-form-field>
                    <input matInput placeholder="Correo electrónico" [(ngModel)]="jugador.email" name="email" required>
                </mat-form-field>
                <mat-error>{{errores.nombre}}</mat-error>
                <mat-form-field>
                    <input matInput placeholder="Nombre" [(ngModel)]="jugador.nombre" name="nombre" required>
                </mat-form-field>
                <mat-error>{{errores.apellidos}}</mat-error>
                <mat-form-field>
                    <input matInput placeholder="Apellidos" [(ngModel)]="jugador.apellidos" name="apellidos">
                </mat-form-field>
                <mat-error>{{errores.telefono}}</mat-error>
                <mat-form-field>
                    <input matInput placeholder="Teléfono" [(ngModel)]="jugador.telefono" name="telefono">
                </mat-form-field>
                <mat-error>
                    <div style="word-wrap: nowrap;">{{errores.sexo}}</div>
                    <div style="word-wrap: nowrap;">{{errores.fechaNac}}</div>
                </mat-error>
                <div id="linea">
                    <mat-form-field class="enlinea">
                        <mat-label>Sexo</mat-label>
                        <mat-select [(ngModel)]="jugador.sexo" name="sexo" required>
                            <mat-option value="H">
                                Hombre
                            </mat-option>
                            <mat-option value="M">
                                Mujer
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="enlinea">
                        <mat-label>Fecha de nacimiento</mat-label>
                        <input matInput [(ngModel)]="jugador.fechaNac" name="sexo" [matDatepicker]="picker" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="registro">
                    <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Registra</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    <mat-card id="registroCompletado" *ngIf="registroCompletado" class="mat-elevation-z4">
        <p>
            Revisa tu buzón de correo electrónico para completar el proceso de registro, 
            se ha enviado un enlace a la dirección suministrada que tendrás que visitar 
            en los próximos 30 minutos para activar la cuenta, si no aparece el mensaje en 
            la bandeja de entrada revisa también la carpeta de spam.
            <br/><br/>
            Puedes cerrar esta pestaña del navegador.
        </p>
    </mat-card>
</div>