  location /${BASE_ADDR}phpmyadmin {
    index index.php$is_args$args;
    alias /usr/share/nginx/html/phpmyadmin/;
  }

  location ~ /${BASE_ADDR}phpmyadmin/(.+\.php(/.*)?)$ {
    include fastcgi_params;
    fastcgi_param PATH_INFO $2;
    fastcgi_pass phpmyadmin:9000;
    fastcgi_param SCRIPT_FILENAME /var/www/html/$1;
  }
