.wrapper {
    position: relative;
    width: 100%;
    height: calc(100vh - 65px);
}

mat-card {
    position: relative;
    max-width: 375px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    text-align: center;
}

mat-form-field {
    display: block;
}

.recuerdame {
    display: flex;
    justify-content: space-between;
    text-align: start;
    margin: 10px 0 20px 0;
}

.acceso {
    margin: 0 0 20px 0;
}
.acceso > button {
    width: 100%;
}

.recuperacion {
    margin: 10px 0 20px 0;
}