<app-acceso *ngIf="!isAuthenticated" returnUrl="partidas"></app-acceso>
<div *ngIf="isAuthenticated" class="wrapper">
  <img src="assets/img/portada.jpeg" />
  <div class="tabla">
    <table mat-table [dataSource]="partidas" class="mat-elevation-z8">

      <ng-container matColumnDef="idPartida">
        <th mat-header-cell *matHeaderCellDef>ID partida</th>
        <td mat-cell *matCellDef="let element">{{element.idPartida}}</td>
      </ng-container>

      <ng-container matColumnDef="nJugadores">
        <th mat-header-cell *matHeaderCellDef>Número de Jugadores</th>
        <td mat-cell *matCellDef="let element">{{element.nJugadores}}</td>
      </ng-container>

      <ng-container matColumnDef="jugador1">
        <th mat-header-cell *matHeaderCellDef>Jugador 1</th>
        <td mat-cell *matCellDef="let element">{{element.jugador1}}</td>
      </ng-container>

      <ng-container matColumnDef="jugador2">
        <th mat-header-cell *matHeaderCellDef>Jugador 2</th>
        <td mat-cell *matCellDef="let element">{{element.jugador2}}</td>
      </ng-container>

      <ng-container matColumnDef="turno">
        <th mat-header-cell *matHeaderCellDef>Turno</th>
        <td mat-cell *matCellDef="let element">{{element.turno}}</td>
      </ng-container>

      <ng-container matColumnDef="fechaCrea">
        <th mat-header-cell *matHeaderCellDef>Fecha de Creación</th>
        <td mat-cell *matCellDef="let element">{{element.fechaCrea}}</td>
      </ng-container>

      <ng-container matColumnDef="fechaMod">
        <th mat-header-cell *matHeaderCellDef>Fecha de Modificación </th>
        <td mat-cell *matCellDef="let element">{{element.fechaMod}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>