.wrapper {
    position: relative;
    width: 100%;
    height: calc(100vh - 65px);
}

img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    object-fit: cover;
    user-select: none;
}

.tabla {
    position: relative;
    top: 5%;
    height: 90%;
    margin: auto;
    width: 80%;
}

table  {
    width: 100%;
}